<template data-tab-template-id="rdlt2pn">
    <div class="subworkspace tab-area rdlt2pn-subworkspace">
        <main class="rdlt2pn-main">
            <header>
                <div>
                    <h1>Petri Net</h1>
                </div>
                <div></div>
                <div class="rdlt2pn-controls">
                </div>
            </header>
            <main>
                <iframe src="templates/convert/rdlt2pn.html"></iframe>
            </main>
        </main>
    </div>
</template>