<template data-tab-template-id="vs">
    <div class="subworkspace tab-area vs-subworkspace">
        <main class="vs-main">
            <header>
                <div>
                    <h1>Vertex Simplification</h1>
                    <div class="vs-level-label">Level 1</div>
                </div>
                <div></div>
                <div>
                    <button data-vs-action="open"><i class="fas fa-arrow-up-right-from-square"></i>&nbsp; Open as Model</button>
                </div>
            </header>
            <main>
                <section class="drawing">
                    <svg></svg>
                </section>
            </main>
        </main>
    </div>
</template>